/* Tiles */

body {
    background:url(../images/bg.jpg) no-repeat;
    color:#fff;
    background-size: cover;
}


#tilesWrap {
    width:870px;
    margin:auto;
    overflow: hidden;
    /*background:rgba(255,255,255, 0.3);*/
    background-image:url(../images/transparent.png);

}

.tile {
    width:100px;
    height:100px;
    margin: 3px;
    float: left;
    position: relative;
    border:1px solid #000;
    /*box-sizing:box-border;*/

}

.tile-cover {
    background:black;
    position: absolute;
    left: 0;
    top: 0;
    width:100px;
    height:100px;
}

img {
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

.choice1 img, .choice2 img, .matched img {
  z-index: 1!important;
}

/*.tile:hover {
    opacity:0.85;
}*/

h1 {
    text-align: center;
    font-family: "Rockwell Extra Bold";
/*    font-family:"vtks Rude Metal shadow";
    font-family:"vtks Rude Metal"; */
    font-size:3em;
    color: red;
    font-weight: normal;
    
}
    h1 span {
        color:yellow;
    }



#attempts {
    font-family: 'Pacifico', cursive;
}
#pairsAttempted {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}


