/* Tiles */

.red { background: red} 
.blue { background: blue} 

.tile {
    width:100px;
    height:100px;
    margin: 3px;
    float: left;
    position: relative;
    border:1px solid #000;
    /*box-sizing:box-border;*/

}

.tile-cover {
    background:black;
    position: absolute;
    left: 0;
    top: 0;
    width:100px;
    height:100px;
}

img {
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

.tile:hover {
    opacity:0.85;

}


.matched {
  pointer-events: none;
}




